# Ignore virtual environment folder
virtual/

# Ignore Node.js modules
node_modules/

# Ignore VS Code settings
.vscode/

# Ignore package files
package.json
package-lock.json

# Ignore macOS system files
.DS_Store